<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RANGING" />
    <uses-permission android:name="android.permission.UWB_RANGING" />
    <application>
        <service
            android:name="no.nordicsemi.android.service.profile.ProfileService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>